body {
    font-family: arial;
}

#bakerylogo {
    margin-bottom: 40px;
}

/* #container { */
    /* display: table; */
/* } */

#image {
    display: table-cell;
    margin: 20px;
    width: 60%;
}

#image * {
    position: absolute;
    top: 10%;
    left: 10%;
}

/* #description { */
    /* display: table-cell; */
    /* margin: 20px; */
    /* width: 40%; */
/* } */

/* img { */
    /* width: 500px; */
    /* height: 400px; */
/* } */

#quantity {
    width: 80px;
}