<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="common :: head"></head>

<body>
    <div th:replace="common :: nav-header"></div>
    <h1>MENU</h1>
    <div id="menu-container">
        <div th:each="item : ${menuItems}" class="menu-card" th:id="product- + ${item.id}">
            <div class="image-container">
                <a th:href="@{'/menu/products/' + ${item.id}}">
                    <img th:src="@{'/images/' + ${item.imageFile}}" class="menu-img" th:id="item-image- + ${item.id}">
                </a>
            </div>
            <div class="item-details">
                <p th:text="${item.name}" th:id="item-name- + ${item.id}"></p>
                <p th:id="item-price- + ${item.id}">$[[${item.unitPrice}]]</p>
                <button class="menu-button cart-button" th:id="cart-button- + ${item.id}">Add to Cart</button>
            </div>
        </div>
    </div>
    <div th:replace="common :: footer"></div>
</body>

</html>