.item-details-container {
    padding: 5rem 0.5rem;
    justify-content: center;
}

.item-image-container {
    width: 35%;
    margin-right: 3rem;
}

.item-description-container {
    width: 30%;
    text-align: left;
}

.item-description-container * {
    margin: 0;
}

.description-field {
    margin-bottom: 1rem;
}