.item-details-container {
    padding: 0 0.5rem;
}

.item-image-container {
    width: 45%;
    margin: 0 auto;
}

.item-description-container {
    width: 45%;
    text-align: left;
    margin: 0 auto;
}

.description-field {
    margin-bottom: 1rem;
}