#menu-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    max-width: 65vw;
}

.menu-card {
    width: 25%;
    padding: 0.5rem;
    margin: 2rem 0 0 0;
}

.image-container {
    width: 100%;
}

.menu-img {
    width: 100%;
}

.item-details {
    text-align: left;
}

.menu-button {
    background-color: rgb(230, 136, 15);
    color: white;
    font-size: 0.8rem;
    padding: 1rem;
    border-radius:0.2rem;
    transition:all 0.5s;
}

.menu-button:hover {
    background-color: rgba(64, 138, 64, 0.876);
}

@media screen and (max-width: 480px) {
    .menu-card {
        width: 100%;
    }
}