* {
    box-sizing: border-box;
}

body {
    font-family: arial;
    text-align: center;
}

#navigation-bar {
    background-color: #ff7f7f;
}

#menu {
    display: flex;
    justify-content: center;
}

#menu img {
    width: 300px;
    height: 300px;
    margin: auto 18px;
}

#featured {
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

#featured img {
    width: 300px;
    height: 200px;
    margin: 20px;
}