<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="common :: head"></head>

<body>
    <div th:replace="common :: nav-header"></div>

    <!-- TODO: Show each item in shopping Cart -->
    <!-- TODO: Show shopping cart empty only if cart item quantity is zero -->
    <h1 style="margin-top:5rem;">Your Shopping Cart</h1>
    <h3 style="margin-top:5rem;">Your cart is empty</h3>
    <a th:href="@{/menu}">
        <button class="menu-button" style="font-size:2rem;margin-top:2rem;">See our menu!</button>
    </a>
    
    <div th:replace="common :: footer"></div>
</body>

</html>