<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="common :: head"></head>

<body>
    <header th:replace="common :: nav-header"></header>

    <div id="checkout-container">
        <form method="POST" action="/checkout" id="checkoutForm">
            <div class="form-section">
                <h3>Customer</h3>

                <div class="form-group">
                    <div>
                        <label>Your Name</label>
                    </div>
                    <div>
                        <input type="text" id="customer-name" name="name" required>
                    </div>
                </div>

                <div class="form-group">
                    <div>
                        <label>Email</label>
                    </div>
                    <div>
                        <input type="email" id="customer-email" required>
                    </div>
                </div>

                <div class="form-group">
                    <div>
                        <label>Phone Number</label>
                    </div>
                    <div>
                        <input type="tel" id="customer-phone" required patter="[0-9]{3}-[0-9]{3}-[0-9]{4}">
                    </div>
                </div>
            </div>

            <div class="form-section">
                <h3>Payment Information</h3>
                <div id="card-element"></div>
            </div>

            <input type="submit">
        </form>
    </div>

    <div th:replace="common :: footer"></div>
</body>

</html>