<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Tom's Bakery</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" th:href="@{/css/style.css}" />
    </head>
    <body>
        <header>
            <div id="header-logo">
                <a href="/">Tom's Bakery</a>
            </div>
            <nav>
                <ul>
                    <li>
                        <a href="#">Menu</a>
                    </li>
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Contact Us</a>
                    </li>
                </ul>
            </nav>
        </header>
        <div class="container">
            <div>
                <img th:src="@{/images/sourdough.jpg}" style="width:100%;height:auto" />
            </div>
            <div id="featured-pastries-container">
                <h3 style="text-align:left">Featured Pastries</h3>
            </div>
        </div>
    </body>
</html>