<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="common :: head">
    </head>
    <body>
        <header th:replace="common :: nav-header">
        </header>
        <div class="container">
            <div id="carousel-container">
                <div class="carousel-slide fade">
                    <img th:src="@{/images/sourdough.jpg}" />
                </div>
                <div class="carousel-slide fade">
                    <img th:src="@{/images/turtle.jpg}" />
                </div>
                <div class="carousel-slide fade">
                    <img th:src="@{/images/bowls.jpg}" />
                </div>
            </div>
            <div id="featured-pastries-container">
                <h1 style="text-align:left">Featured Pastries</h1>
            </div>
        </div>
        <div th:replace="common :: footer"></div>
    </body>
</html>