<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="common :: head">
</head>

<body>
    <header th:replace="common :: nav-header">
    </header>
    <div class="container">
        <div th:if="${userName}">
            <p>Welcome back [[${userName}]]</p>
        </div>
        <div id="carousel-container">
            <div id="carousel-slides">
                <div class="carousel-slide">
                    <img th:src="@{/images/sourdough.jpg}" class="carousel-slide-img" />
                </div>
                <div class="carousel-slide">
                    <img th:src="@{/images/turtle.jpg}" class="carousel-slide-img" />
                </div>
                <div class="carousel-slide">
                    <img th:src="@{/images/bowls.jpg}" class="carousel-slide-img" />
                </div>
            </div>
            <div>
                <a class="carousel-button prev">&#10094;</a>
                <a class="carousel-button next">&#10095;</a>
            </div>
        </div>
        <div id="featured-pastries-container">
            <h1 style="text-align:left">Featured Pastries</h1>
            <!-- TODO: Fragment for featured items -->
            <div class="flex-container" style="justify-content: space-between;">

                <div th:each="item : ${featured}" class="menu-card">
                    <div class="image-container">
                        <a th:href="@{'/menu/products/' + ${item.id}}">
                            <img th:src="@{'/images/' + ${item.imageFile}}" class="menu-img"
                                th:id="item-image- + ${item.id}">
                        </a>
                    </div>
                    <div class="item-details">
                        <p th:id="item-name- + ${item.id}">[[${item.name}]]</p>
                        <p th:id="item-price- + ${item.id}">$[[${item.unitPrice}]]</p>
                        <button class="menu-button cart-button" th:id="cart-button- + ${item.id}">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="common :: footer"></div>
</body>

</html>