<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="common :: head"></head>

<body>
    <div th:replace="common :: nav-header"></div>
    <h3>Menu</h3>
    <div id="menu-container">
        <div th:each="item : ${menuItems}" class="menu-card">
            <div class="image-container">
                <a href="#">
                    <img th:src="@{/images/turtle.jpg}" class="menu-img">
                </a>
            </div>
            <div class="item-details">
                <p th:text="${item.name}"></p>
                <p>$[[${item.unitPrice}]]</p>
                <p th:text="${item.productId}"></p>
                <button class="menu-button">Add to Cart</button>
            </div>
        </div>
    </div>
    <div th:replace="common :: footer"></div>
</body>

</html>